In [2]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OrdinalEncoder
from io import StringIO
import geopandas as gpd

In [4]:
df_creditos = pd.read_csv("../data/creditos.rpt", sep=",")
df_creditos.head()

/var/folders/x_/ll96cm_j5r34j0gcqbw987mw0000gn/T/ipykernel_87557/679155380.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_creditos = pd.read_csv("../data/creditos.rpt", sep=",")

  idmerchant       fecha  creditos  cantidad                    descripcion
0      48731  20220107.0     100.0       1.0  BANCO INTERNACIONAL CORRIENTE
1      90124  20230523.0      50.0       1.0  BANCO INTERNACIONAL CORRIENTE
2      98035  20220620.0      61.0       1.0  BANCO INTERNACIONAL CORRIENTE
3      44421  20230421.0      10.0       1.0  BANCO INTERNACIONAL CORRIENTE
4       6286  20220916.0     100.0       1.0  BANCO INTERNACIONAL CORRIENTE

In [6]:

df_pdvs = pd.read_csv("../data/pdvs.rpt", sep=",")
df_pdvs

                    idmerchant  idregion      ciudad canal actividad
0                        47873       2.0  PEDERNALES     R         F
1                        47179       3.0       QUITO     C         F
2                        43609       3.0   RUMIÑAHUI     R         F
3                        47128       2.0   GUAYAQUIL     R         F
4                        47130       3.0       QUITO     R         F
...                        ...       ...         ...   ...       ...
79619                    34562       3.0       QUITO     D         S
79620                    37701       3.0       QUITO     D         S
79621                    34340       3.0       QUITO     D         S
79622                    38633       3.0       QUITO     D         S
79623  (79623 filas afectadas)       NaN         NaN   NaN       NaN

[79624 rows x 5 columns]

In [7]:
# Cargar ventas.rpt
df_ventas = pd.read_csv("../data/ventas.rpt", sep=",")
df_ventas.head()

/var/folders/x_/ll96cm_j5r34j0gcqbw987mw0000gn/T/ipykernel_87557/2216868667.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ventas = pd.read_csv("../data/ventas.rpt", sep=",")

,ventas,cantidad,idmerchant,producto,fecha,categoria
14,0.0,8.0,104074.0,PRODUCTO 9,20210727.0,RECARGAS
20,0.0,4.0,15896.0,PRODUCTO 27,20230524.0,RECARGAS
6,0.0,3.0,21017.0,PRODUCTO 27,20230706.0,RECARGAS
98,84.0,6.0,50196.0,PRODUCTO 44,20210724.0,RECAUDACION
6,0.0,6.0,111013.0,PRODUCTO 9,20221109.0,RECARGAS
...,...,...,...,...,...,...
6,0.0,2.0,5277.0,PRODUCTO 9,20220317.0,RECARGAS
3,0.0,3.0,42443.0,PRODUCTO 26,20220114.0,RECARGAS
3,0.0,1.0,116738.0,PRODUCTO 83,20230205.0,RECARGAS
6,0.0,3.0,27961.0,PRODUCTO 1,20220302.0,RECARGAS
(16149282 filas afectadas),NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df_ventas.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16149283 entries, 14 to (16149282 filas afectadas)
Data columns (total 6 columns):
 #   Column      Dtype
---  ------      -----
 0   ventas      float64
 1   cantidad    float64
 2   idmerchant  float64
 3   producto    object
 4   fecha       float64
 5   categoria   object
dtypes: float64(4), object(2)
memory usage: 862.5+ MB